body {
  background-image: url("../media/arrivedScreen.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-position: 0px -120px;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

button {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

.mc {
  position: absolute;
  transform: scaleX(-1);
  top: 240px;
  left: 400px;
}

.backpack {
  position: absolute;
  height: 130px;
  top: 400px;
  left: 230px;
}

.inv {
  position: absolute;
  top: 570px;
  left: 140px;
}

.inv-item {
  background-color: rgb(222, 184, 135);
  padding: 15px 30px 50px 30px;
  display: inline;
  margin-right: 30px;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(205, 133, 63);
}

.text {
  background-color: green;
  color: white;
  position: absolute;
  padding: 20px 30px;
  top: 50px;
  left: 200px;
  max-width: 400px;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: darkgreen;
}

.nextScreen {
  padding: 15px 20px;
  position: absolute;
  top: 550px;
  right: 100px;
  background-color: greenyellow;
  color: green;
  font-weight: bold;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(6, 94, 6);
}

.decision {
  background-color: rgb(33, 148, 77);
  position: absolute;
  top: 50px;
  right: 480px;
  color: white;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: darkgreen;
}

.bush {
  position: absolute;
  top: 320px;
  right: 270px;
}

.choice {
  position: absolute;
  top: 230px;
  margin-left: 650px;
}

.choice-item {
  background-color: rgb(15, 193, 71);
  border: none;
  padding: 15px 20px;
  margin-right: 100px;
  color: purple;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: darkgreen;
}

.stop {
  position: absolute;
  top: 25px;
  left: 700px;
  background: red;
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
  padding-left: 25px;
  font-family: "VT323", monospace;
  padding-bottom: 20px;
  padding-right: 25px;
}
