/* General body styling */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    background-color: #222; /* Background color for the body */
}


h1 {
    text-align: center;
}

h2 {
    font-size: 2vw; 
    text-align: center;
    margin-top: -12vh; 
    font-family: 'Gloria Hallelujah', sans-serif;
    color: #f1f1f1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    line-height: 1.4; 
}


.button1 {
    position: relative;
    text-align: center;
    margin-top: 5vh; 
}

/* Styling for the button */
#started {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10vh;
    width: 10vw;
    margin-top: 3vh; 
    font-size: 1vw; 
    font-weight: bold;
    padding: 0.5vh; 
    background-color: #606d63;
    color: white;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}


#started:hover {
    background-color: #0056b3; /* Darker color on hover */
}
