body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* centers content vertically */
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

button {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.nigerundayo {
    background-color: rgb(15, 193, 71);
    position: relative; 
    top: -100px; 
    left: 550px;
    border: none;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
    color: purple;
    font-weight: bold;
    font-size: 30px;
    border-radius: 80px;
    border-width:10px;
    border-color: darkgreen;
    border-style: solid;

}

.tatakai {
    background-color: rgb(15, 193, 71);
    position: relative; top: -100px; left: 750px;
    border: none;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
    color: purple;
    font-weight: bold;
    font-size: 30px;
    border-radius: 80px;
    border-width:10px;
    border-color: darkgreen;
    border-style: solid;
}

.img-mc {
    position: relative; top: 160px; left: 400px;

}

.loudSound {
    background-color: rgb(33, 148, 77);
    position: relative; top: -200px; left: -400px;
    color: white;
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 15px;
    padding-right: 50px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 80px;
    border-width:10px;
    border-color: darkgreen;
    border-style: solid;

}

.dino-img {
    position: relative; top: 150px; right: 50px;
}

.decision {
    background-color: rgb(33, 148, 77);
    position: relative; top: -250px;
    color: white;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 80px;
    border-width:10px;
    border-color: darkgreen;
    border-style: solid;
}

.backpack-img {
    width: 100px;
    height: 100px;
    position: relative; top: 100px; left: -1020px;
}

.foodinv {
    background-color: rgb(222,184,135);
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 50px;
    padding-right: 30px;
    position: relative; top: 200px; left: -1170px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(205,133,63)

}

.itemsinv {
    background-color: rgb(222,184,135);
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 50px;
    padding-right: 30px;
    position: relative; top: 200px; left: -1130px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(205,133,63)
    
    

    
}

.nextScreen {
    background-color: aliceblue;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
    position: relative; top: 250px; left: -120px;
    background-color: greenyellow;
    color: green;
    font-weight: bold;
    border-radius: 30px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(6, 94, 6)

}