body {
    background-image: url('../media/lab.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.mc {
    position: absolute;
    transform: scaleX(-1);
    top: 350px;
    left: 400px;
}

.text {
    background-color: green;
    color: white;
    position: absolute;
    padding: 10px 30px;
    top: 50px;
    left: 200px;
    max-width: 400px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: darkgreen;
}

.time_machine {
    position: absolute;
    top: 230px;
    right: 300px;
}
.tm_btn {
    position: absolute;
    top: 263px;
    right: 155px;
    background-color: greenyellow;
    border: 0;
    padding: 5px 20px;
}